# 忽略大文件
pandoc/pandoc.exe
poppler/Library/bin/*.exe
poppler/Library/bin/*.dll
redis/*.exe
redis/*.dll

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local configuration
.env
.env.local

# 用户数据 - 添加此部分以排除用户数据
instance/*.db
uploads/
uploads/*
data/
debug/
*.bak
celerybeat-schedule

# 临时文件
uploads/essays/
uploads/temp/
uploads/debug/
